h1 {
	position: fixed;
	font-family: Arial; 
	color: red; 
	font-size: 100%;}
body {
	width: 90%;
	margin: 0 auto;}
#content {overflow: auto;}
#nav, #feature, #footer { 
	margin: 1%;}

.column1, .column2, .column3 {
	width: 31.3%;
	float: left;
	margin: 1%;}

.column3 {margin-right: 0%;}

li {
	display: inline;
	padding: 0.5em;}

#nav, #footer {
	background-color: #efefef;}

img {
	float:right;
	margin: 0 0 lem lem;
}

p {
	width: 300px;
	float: left;
	margin: 5px;
	padding: 5px;
	background-color: grey;}
div {
	border: 1px solid;}

blockquote {
	float: right;
	width: 275px;
	font-size: 150%
	font-style: italic;
	font-family: Georgia;
	margin: 10px;
	padding: 20px;
	border-top: 2px solid;
	border-bottom: 2px solid;
}